.sidebar-main {
  display: flex;
  flex-direction: column;
  height: 685px;
  width: 230px;
  margin: 10px 20px 10px 30px;
  padding: 20px;
  background-color: #f3f4f6;
}

.profile-pane {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
}

.img-pane {
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 12px;
  text-align: center;
  object-fit: cover;
}

.name-pane {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  background-color: white;
  width: 50px;
}

.sidebar-options {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  height: 100%;
}

.options {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  padding: 7px;
  border: 1px solid black;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.options:hover {
  background-color: rgb(245, 245, 245);
}

.options img {
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.options p {
  font-size: small;
  font-weight: 500;
  background-color: transparent;
}

.drop-down {
  background-color: transparent;
  float: right;
  margin-left: 60px;
}
