.hero-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
}

.hero-section {
  display: flex;
  height: 70vh;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
}

.text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 32px;
}

.hero-text {
  font-size: xx-large;
  margin: 0.5rem 0;
}

.text-section h1 strong {
  font-weight: 800;
}

.subtext {
  margin-top: 1rem;
  font-size: medium;
  color: #444;
  max-width: 500px;
}

.hero-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.primary-btn {
  background-color: black;
  color: white;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #2b2b2b;
  transform: scale(1.01);
}

.secondary-btn {
  background-color: transparent;
  color: black;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
}

.secondary-btn:hover {
  transform: scale(1.01);
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 32px;
}

.image-section img {
  width: 500px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  cursor: pointer;
}

.about-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  height: 500px;
  width: 1000px;
}

.card-text {
  display: flex;
  padding: 20px;
  justify-content: center;
}

#text {
  padding: 20px;
  margin-top: 40px;
  margin-left: 40px;
}

#text p {
  font-size: larger;
}

.card-text img {
  margin-top: 40px;
  margin-left: 20px;
  width: 520px;
}

.display-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 80vh;
}

.two-features {
  display: flex;
  gap: 40px;
}

.box {
  background-color: #d3d3d3;
  border-radius: 8px;
  height: 300px;
  width: 500px;
}

.wide-box {
  background-color: #d3d3d3;
  border-radius: 8px;
  height: 300px;
  width: 1040px;
}

#tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

#tagline p {
  font-size: x-large;
  font-weight: 600;
}
