.hero-main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.hero-section {
  display: flex;
  width: 100%;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
}

.text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 32px;
}

.hero-text {
  font-size: xx-large;
  margin: 0.5rem 0;
}

.text-section h1 strong {
  font-weight: 800;
}

.subtext {
  margin-top: 1rem;
  font-size: medium;
  color: #444;
  max-width: 500px;
}

.hero-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.primary-btn {
  background-color: black;
  color: white;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #2b2b2b;
  transform: scale(1.01);
}

.secondary-btn {
  background-color: transparent;
  color: black;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
}

.secondary-btn:hover {
  transform: scale(1.01);
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 32px;
}

.image-section img {
  max-width: 100%;
  height: auto;
}
